<!-- 
	form to create a new team
-->

<%= form_for(@team) do |f| %>
	
	<!-- displays any errors related to entries not complying with paramaters -->
	<% if @team.errors.any? %>
		<div class="alert alert-error error_explanation">
		<button type="button" class="close" data-dismiss="alert">&times;</button>
		<h4><%= pluralize(@team.errors.count, "error") %> prohibited this team from being saved:</h4>
			<ul>
				<% @team.errors.full_messages.each do |msg| %>
					<li><%= msg %></li>
				<% end %>
			</ul>
		</div> <!-- END alert alert-error -->
	<% end %>
	
	<!-- hidden value to identify which page the user has come from -->
	<%= f.hidden_field :origin, :value => @origin %>
	
	<!-- data entry for team name -->
	<%= f.label 'Team Name:' %>
	<%= f.text_field :name, :placeholder => "enter the team name"%>
	
	<%= f.submit :class => 'red-button pull-right', :id => "teamButton", :value => @buttonvalue %>

<% end %>
