<!--
	new service page
-->

<!-- displays any notifications pertinent to creation of a new service -->
<div class="notifications">
	<% if flash[:alert].present? %>
		<div class="alert alert-error">
			<button type="button" class="close" data-dismiss="alert">&times;</button>
			<%= alert %>
		</div> <!-- END alert alert-error -->
		<% elsif flash[:notice].present? %>
		<div class="alert alert-success">
			<button type="button" class="close" data-dismiss="alert">&times;</button>
			<%= notice %>
		</div> <!-- END alert alert-success -->
	<% end %>
</div> <!-- END notifications -->

<%= link_to 'create team', new_team_path(:origin => 'services'),:class => 'red-button pull-right create'%> <!-- button to create a new team before a new service is created -->
<div class="row-fluid">
	<div class="span4 offset4 formBox" id="serviceForm">
		<!-- passing :origin as services so that the origin is added to the params hash  -->
		<h2>New Service</h2>
		<h3>You can create a new service. You must be associated with at least one team to create a service.</h3>
		<%= render 'form' %> <!-- renders the service form -->
	</div><!--END fBox, span4 -->
	<div class="span4"></div>
</div><!--END row-fluid -->

<!-- directs the user back to their previous page -->
<div class="bottomLinks pull-right">
	<%= link_to 'Back', @service %> 
</div> <!-- END bottomLinks -->